In [106]:
import pandas as pd
import numpy as np

In [2]:
car=pd.read_csv('quikr_car.csv')

In [3]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [4]:
car.shape

(892, 6)

In [5]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

## Quality
year has many non-year values
year object to int
price has Ask for Price
Price object to int
kms_driven has kms with integers
kms_driven object to int
kms has nan values
fuel_type has nan values
keep first 3 words of name

#Cleaning

In [7]:
backup = car.copy()

In [10]:
car=car[car['year'].str.isnumeric()]

In [12]:
car['year']=car['year'].astype(int)

In [13]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [19]:
car=car[car['Price']!="Ask For Price"]

In [30]:
car['Price']

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: int32

In [31]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [37]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [40]:
car=car[car['kms_driven'].str.isnumeric()]

In [41]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.3+ KB

In [42]:
car['kms_driven']=car['kms_driven'].astype(int)

In [43]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [47]:
car=car[~car['fuel_type'].isna()]

In [53]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [51]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [54]:
car['name']

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [58]:
car=car.reset_index(drop=True)

In [59]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [60]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [64]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [65]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [66]:
car.to_csv('Cleaned Car.csv')

# Model

In [91]:
X= car.drop(columns='Price')
y= car['Price']

In [92]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.2)

In [93]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [94]:
ohe = OneHotEncoder()
ohe.fit(X[['name', 'company', 'fuel_type']])

OneHotEncoder()

In [95]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

In [96]:
lr=LinearRegression()

In [97]:
pipe=make_pipeline(column_trans, lr)

In [98]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [99]:
y_pred=pipe.predict(X_test)

In [101]:
y_pred

array([1125139.3252748 ,  463660.42142717,  515579.67116508,
        297439.62344871,  319909.27685723,  818026.31617552,
        433059.02989936,  133692.21352889,  232601.60811499,
        497453.09608016,  619330.54952094,   76067.34659152,
        839552.64719887,  316277.06267802,  464329.80782797,
        587696.68055634,  362999.97599081,  441829.43115965,
        520299.99407381,  209123.30908236,   -3410.83234473,
        147326.67091607,  268957.05381375,  733884.72988512,
        353005.4780895 ,  520678.32559247,  253757.64269258,
       1108770.72232282,  193212.60206085,   36111.36749078,
        558850.71042081,  581515.56615463,  286794.75560648,
        427988.68484209,  110480.92370655,  316277.06267802,
        623820.56623821,  414480.76508877,  366290.40051952,
        491700.42596481,  249662.15247665,  500013.03766247,
        506231.86479842,  361171.9854084 ,  418770.68421673,
        294194.59549759,  638983.7014571 ,  247738.69183865,
        281132.60542921,  376531.26955672,  522377.59649921,
        485696.27868643,  276686.49685996,  329810.56520239,
        287326.00568071,  520678.32559247,  566646.25501004,
        339337.6655201 , 1406340.49494241,   72886.95422754,
        298214.18902908,  205233.94221459,  -53962.99828054,
        325454.40829175,  453107.53038666,  501510.76038548,
        353005.4780895 ,  252863.71409898,  191678.32944269,
        228814.1129346 ,  354423.35346797,  303972.35303956,
        202169.32331129,  632423.40089789,  184378.69122248,
        157825.74138987,  393022.86004226,  717736.69241461,
        672718.76999448,  638983.7014571 ,  986959.49403121,
        663831.46907383, 1632276.85862131,  139272.27351534,
          6333.59088636,  250031.36308166,  464129.35494347,
        248509.11653081,  286363.74712753,  563243.25112808,
        512914.17459946,  178675.70866168,  152828.3006373 ,
        695235.70305649,  566780.98557274,  477561.27549488,
        264012.62720505,  793595.58914854,  447669.87915507,
        -16375.69948956,  327528.80250978,  276107.28823109,
       1406340.49494241,  -98891.97096785,  219151.90209169,
        256475.46573149,  374150.63954206,  150755.42166067,
        -26121.39895009,  237427.77989418, 1634576.17040443,
        394899.28280487,  397189.70237084,  394090.89942864,
        495233.03394999,  332084.24951246,  -30056.48466559,
        597804.31463069,  668693.20696461,  533551.81313138,
        383798.7512126 ,  632423.40089789,  219485.83107753,
        817597.20974811,  102416.14483065,  332084.24951246,
        338397.73907207,  267315.77392033,  157621.44836379,
       1064451.03578784,  555845.32470506,   13384.04478154,
        455548.39712004,  260223.69571613,  131894.2493407 ,
        494381.31197051,  176144.66153   ,  329874.12771067,
        356811.4397578 ,  433059.02989936,  461844.14867178,
       1153644.61440706,  459257.65146115,  543111.94966923,
       1599158.39805263,  304871.516799  ,  314263.35287599,
        249260.09099473,  371857.70914327,  255316.85662046,
        310910.38203363,  -63905.95175143,   -4018.87739256,
        -44868.6674348 ,  340532.74670924,  376659.32566533,
         74107.70842017,  212251.81120339,  402016.47993757,
        294797.23050772,  184456.47100358, 2001451.68881585,
         96839.76028164])

In [102]:
r2_score(y_test,y_pred)

0.46415065614642514

In [105]:
scores=[]
for i in range(1000):
    X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2, random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train, y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test, y_pred))

In [107]:
np.argmax(scores)

433

In [108]:
scores[np.argmax(scores)]

0.8456515104452564

In [110]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2, random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train, y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test, y_pred)

0.8456515104452564

In [111]:
import pickle

In [112]:
pickle.dump(pipe,open('LinearRegressionModel.pkl', 'wb'))

In [114]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift', 'Maruti', 2019, 100, 'Petrol']], columns=['name', 'company', 'year', 'kms_driven', 'fuel_type']))

array([459113.49353657])

In [115]:
scores[np.argmax(scores)]

0.8456515104452564